body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #1f2937;
   }

   .title-styles {
      color: #ffffff;
   }

   .header-icon {
      color: #374151;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #1f2937;
   }

   .language {
      background-color: #1f2937;
   }

   .link-href {
      color: #ffffff;
   }

   .project-date {
      background-color: #4b5563;
      color: #ffffff;
   }

   header {
      background-color: #1f2937;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #4b5563;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #4b5563;
      }
      .card {
         background: #4b5563;
         color: white;
      }
   }

   #portfolio {
      background-image: url('Images/myProfile.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      color: #1A73E8 !important;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #E8F0FE;
      }
      .project-title-settings {
         color: #202124;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #374151;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #4b5563 !important;
         color: white;
      }

      .main-badge {
         background: #4b5563 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #4b5563 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: #374151;
         }
      }
   }

   .modal-inside .modal-content {
      background: #374151;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
